/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@1,900&display=swap');

/* Wildcard selector is being used */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
}

.form-container {
    background-image: linear-gradient(120deg, #9A3B3B, #BCA37F);
    color: black;
    font-family: 'Open Sans', sans-serif; 
    min-height:100vh;        
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font: italic 900;
    font-size: 3rem;
    color: #9A3B3B;
    text-shadow: 2px 2px 0 #BCA37F;
}
   

header, form {
    min-height: 20vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.todo-input, .todo-form {
    min-width: 30vh;
    max-width: 70%;
    
}

form input, form button {
    padding: 0.5 rem;
    font-size: 2rem;
    border: none;
    background: #3a3a3a;
    max-width: 70vh;
}

form button {
    color: #9A3B3B;
    cursor: pointer; 
    background: #3a3a3a;
    transition: all 0.3s ease;
}

form button:hover{
    background: #9A3B3B;
    color: #3a3a3a;
}

.todo-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    max-width: 70%;
    list-style: none;
}

.todo {
    margin: 0.7rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}

.todo li {
    flex: 1; 
}

.complete-btn, .delete-btn {
    background: #9A3B3B;
    color: white; 
    border: none; 
    padding: 1rem; 
    cursor: pointer; 
    font-size: 1rem; 
}

.complete-btn {
    background: greenyellow;
}

.todo-item {
    padding: 0rem 0.7rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}